:root {
  --background:#222831;
  --elevated: #31363F;
  --header: #91D2D5;
  --text: #eee;
  --link: #aabfff;
  --code-color: #eee;
  --code-background: black;
  --primary: #eee;
}

code {
  font-family: 'Courier New', monospace;
}

pre {
  /* overflow-x: auto; */
  border-radius: 16px;
  color: var(--code-color);
}

a {
  color: var(--link)
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header)
}

body {
  padding: 24px;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}



@media only screen and (max-width: 2500px) {
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}


@media only screen and (max-width: 1600px) {
  .article-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media only screen and (max-width: 1200px) {
  .article-grid {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 700px) {
  .article-grid {
    grid-template-columns: 1fr !important;
  }
}

.article-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 24px;
}
